.home{
    background-image: url(file:///C:/Users/enzod/Desktop/henry/PI-Videogames-main/client/src/assets/backgroundHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.homeText{
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px black;
}

.homeLink{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px black;
}

.homeLinks{
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px black;
}

.homeLinks > a{
    margin: 20px;
}
 .homeLinks > a > img {
    width: 100px;
    height: 100px;
 }